@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
main {
  height: 100vh;
}
section.hero {
  padding-top: 10vh;
  height: 100vh;
  color: white;
  text-align: center;
 
}
section.hero h1 {
  margin: 0;
  font-optical-sizing: auto;
  font-size: 4em;
  font-weight: 100;
  font-style: normal;
}
section.hero span {
  font-weight: 300;
  font-size: smaller;
  font-style: normal;
  text-transform: uppercase;
}

section.hero img {
  margin: 50px;
  width: 70vh;
  border: 2px solid #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 12px 0px rgb(0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url('https://tvn24.pl/tvnwarszawa/najnowsze/cdn-zdjecie-7qf67r-kamienica-przy-wilenskiej-31-5662396/20220222_TVN_Kamienica+10.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.gradient {
background: linear-gradient(270deg, #ff0000, rgba(0, 0, 0, 0.5));
background-size: 400% 400%;

-webkit-animation: AnimationName 1s ease infinite;
-moz-animation: AnimationName 3s ease infinite;
animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes AnimationName {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
.newsletter{
    margin-top: 20vh;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.newsletter form {
    border-radius: 15px;
    display: flex;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 12px 0px rgb(0, 0, 0)
}

.newsletter form input,
.newsletter form button {
    appearance: none;
    font-family: "Poppins", sans-serif;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    font-size: 10px;
    background-color: #d1d3d4;
    outline: none;
}

.newsletter form button {
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 1em;
    border-radius: 0px 5px 5px 0px;
    background-color: #343131;  
    color: #d1d3d4;
    appearance: none;
    transition: all;
    animation-duration: 5s;
}
.newsletter form input{
    border-radius: 5px 0px 0px 5px;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
}
.newsletter form input:hover{
    background-color: white;
    color: black;
}